<h2>Создание лошади</h2>

<form method="post">
    <label>Имя:</label><br />
    <input type="text" name="name" required /><br /><br />

    <label>Скорость:</label><br />
    <input type="number" name="speed" min="1" max="10" required /><br /><br />

    <label>Выносливость:</label><br />
    <input type="number" name="stamina" min="1" max="10" required /><br /><br />

    <button type="submit">Добавить</button>
</form>

<a href="/Race/Index">Назад к гонке</a>